.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #f9f9f9;
}

.header__heading {
  object-fit: contain;
  font: 600 45px;
  color: #666;
}

.header__icon {
  padding: 10px;
}